.weather-current-location {
    position: absolute;
    top: 25px;
    left: 25px;
}

.weather-current-location--weekday {
    margin: 0;
}

.weather-current-location--dt {
    display: block;
}

.weather-current-location--location {
    display: inline-block;
    margin-top: 10px;
}
.weather-current-location:hover {
    -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
    transform: scale(1.1) perspective(1500px) rotateY(10deg);
    cursor: pointer;
}